<div class="container">
  <div class="row">
    <div id="coSection" class="col-md-12 text-center">
      <div id="chat">
        <div class="col-lg-12">
          <a href="#menu-toggle" class="btn btn-secondary col-md-2 float-left" id="menu-toggle">See more</a>
          <h1 class="col-md-10 float-left">Chat Room</h1>
        </div>

        <div class="col-md-12 float-left">
          <form class="" action="" method="post">
            <div class="form-group">
              <textarea id="textSection" class="form-control" id="exampleTextarea" rows="3" placeholder="Write your message here"></textarea>
              <button type="submit" class="btn btn-primary" id="sendMessage">Send message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12" id="commentsSection">
      <!-- Create Node here with JS -->
    </div>
  </div>

</div>
</div>