<div class="container">
  <div class="row">
    <div id="coSection" class="col-lg-12 text-center">
      <h1>Welcome to the Family Chat</h1>
      <form class="" action="" method="post">
        <input placeholder="Your name" type="text" name="" value="" id="name">
        <input type="submit" name="button" id="send" value="Connect to the Chat"></input>
      </form>
    </div>
  </div>
</div>