<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-label">
      <label>Connected as </label>
    </li>
    <li>
      <label id="self"></label>
    </li>
    <li>
    </li>
    <li class="sidebar-label">
      <label>Users Connected </label>
    </li>
    <ul id="connected">
    </ul>
  </ul>
</div>